@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
}

.background-dark {
  background: #111827;
}

.navbar {
  width: 100%;
  padding: 16px 112px;
  color: #111827;
  gap: 48px;
}
.container {
  display: flex;
  width: 100%;
  padding: 96px 112px;
  color: #111827;
  gap: 48px;
}

.PicBackground {
  /* background-color: #E5E7EB; */
  width: 400px;
  height: 400px;
}

.exp {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06),
    0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}

.row-center {
  justify-content: center;
}
.column-center {
  align-items: center;
}
.flex {
  display: flex;
}


