@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}


.container  {
  display: flex;
  padding: 96px 112px;
  justify-content: space-between;
  align-items: flex-start;
  color: #111827;
  gap: 48px;
}

.PicBackground {
  /* background-color: #E5E7EB; */
  width: 400px;
  height: 400px;
}


.exp {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}




/*---------------------      COPYRIGHT --------- */

.row-center {
  justify-content: center;
}
.column-center {
  align-items: center;
}
.flex {
  display: flex;
}

.gap16 {
  gap: 16px;
}
.gap48 {
  gap: 48px;
}
.gap20 {
  gap: 20px;
}
.gap8 {
  gap: 8px;
}